#__tooltip__ {
    background-color:white;
    position: absolute;
    z-index: 100;
    padding: 20px;
    /* min-height: 300px; */
    min-width: 400px;
    border: 3px solid purple;
    color: black;
    text-align: center;
    border-radius: 5px;
    max-width: 50vw;
    max-height: 75vh;
    overflow: auto;
}

.ext_show_add_ref_form_button {
    color: grey;
    float: right;
    height: 10px;
    width: 10px;
    font-size: 25px;
}

.ext_delete_button {
    color: red;
    position: relative;
    top: 2px;
    margin-right: 5px;
    float: right;
}

.ext_edit_button {
    position: relative;
    top: 2px;
    margin-right: 5px;
    float: right;
}
.ext_cancel_add_ref_button {
    color: red;
    position: relative;
    top: 2px;
    margin-right: 5px;
    float: right;
}

.ext_add_ref_button {
    color: green;
    position: relative;
    top: 2px;
    margin-right: 5px;
    float: right;
}
.ext_edit_cancel {
    color: red;
    position: relative;
    top: 2px;
    margin-right: 5px;
    float: right;
}

.ext_edit_submit {
    color: green;
    position: relative;
    top: 2px;
    margin-right: 5px;
    float: right;
}
.ext_display_none {
    display: none;
    color: white;
}
hr {
    color: black;
    margin: 5px;
    border: none;
    border-top: 1px solid black;
}




