#__tooltip__ {
    background-color:white;
    position: absolute;
    z-index: 100;
    padding: 20px;
    /* min-height: 300px; */
    min-width: 300px;
    border: 3px solid purple;
    color: black;
    text-align: center;
    border-radius: 5px;
    max-width: 50vw;
    max-height: 75vh;
    overflow: auto;
}

hr{
    color: black;
    margin: 5px;
    border: none;
    border-top: 1px solid black;
}




